@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a8dadc;
}
.main-wrap .product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.main-wrap .product .image-gallery{
    flex-basis: 47%;
    background: #011627;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.07);
    position: relative;
}

.main-wrap .product .image-gallery img{
    width: 100%;
    padding-top: 150px;
}
.main-wrap .product .image-gallery .controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.main-wrap .product .image-gallery .controls .btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba( 255, 255, 255, 0.5 );
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
.main-wrap .product .image-gallery .controls .btn.active{
    background: #00b4d8;
}
.main-wrap .product .product-details{
    flex-basis: 53%;
    background: #fff;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 40px 40px;
}
.main-wrap .product .product-details .details{
    margin-bottom: 20px;
}
.main-wrap .product .product-details .details h2{
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #011627;
}
.main-wrap .product .product-details .details h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    color: #011627;
}
.main-wrap .product .product-details .details h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: #f72585;
    margin-bottom: 10px;
}
.main-wrap .product .product-details .details p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #011627;
}
.main-wrap .product .product-details .sizes{
    margin-bottom: 20px;
}
.main-wrap .product .product-details .sizes .form .select-size{
    display: flex;
    align-items: center;
}
.main-wrap .product .product-details .sizes .form .select-size h3{
    width: 70px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #011627;
}
.main-wrap .product .product-details .sizes .form .select-size label{
    display: flex;
    align-items: center;
}
.main-wrap .product .product-details .sizes .form .select-size label input{
    display: none;
}
.main-wrap .product .product-details .sizes .form .select-size label span{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    color: #011627;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.main-wrap .product .product-details .sizes .form .select-size label input:checked + span{
    font-weight: 600;
    color: #00b4d8;
}
.main-wrap .product .product-details .colors{
    margin-bottom: 20px;
}
.main-wrap .product .product-details .colors .form .select-color{
    display: flex;
    align-items: center;
}
.main-wrap .product .product-details .colors .form .select-color h3{
    width: 70px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #011627;
}
.main-wrap .product .product-details .colors .form .select-color label{
    display: flex;
    align-items: center;
}
.main-wrap .product .product-details .colors .form .select-color input{
    display: none;
}
.main-wrap .product .product-details .colors .form .select-color span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.main-wrap .product .product-details .colors .form .select-color .color-1{
    background: #d90429;
}
.main-wrap .product .product-details .colors .form .select-color .color-2{
    background: #38b000;
}
.main-wrap .product .product-details .colors .form .select-color .color-3{
    background: #0081a7;
}
.main-wrap .product .product-details .colors .form .select-color .color-4{
    background: #ffd100;
}
.main-wrap .product .product-details .colors .form .select-color label input:checked + span{
    transform: scale(.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #011627;
}
.main-wrap .product .product-details .quantity{
    margin-bottom: 50px;
}
.main-wrap .product .product-details .quantity .select-quantity{
    display: flex;
    align-items: center;
}
.main-wrap .product .product-details .quantity .select-quantity h3{
    width: 70px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #011627;
}
.main-wrap .product .product-details .quantity .select-quantity input{
    background: #e8e8e8;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    border-radius: 12px;
    width: 50px;
}
.main-wrap .product .product-details .sub-btn{
    padding: 0 30px;
}
.main-wrap .product .product-details .sub-btn .submit{
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: #0077b6;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba( 85, 63, 240, 0.25 );
    cursor: pointer;
    transition: .4s linear;
    position: relative;
    overflow: hidden;
}
.main-wrap .product .product-details .sub-btn .submit:hover{
    background: #00b4d8;
}
.main-wrap .product .product-details .sub-btn .submit::before{
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.1 );
    transform: rotate(-45deg);
}
.main-wrap .product .product-details .sub-btn .submit:hover::before{
    animation: light .4s linear forwards;
}
@keyframes light{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}